.box{
    width: 100px;
    /*  height: 100px;*/
    text-align: center;
    color: white;
    border: 2px solid black;
    margin: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed #000;
    width: 100%;
    /*max-width: 600px;*/
    height: 300px;
    margin-bottom: 20px;

}
.a{
    background-color: aquamarine;
           
}
.b{
    background-color: beige;
           
            
}
.c{
    background-color: cornflowerblue;
}
.d{
    background-color: tomato;
                      
 }
.e{
    background-color: tan;
                       
}
.f{
    background-color: lawngreen;
}